# Dependencies
node_modules
client/node_modules
server/node_modules

# Environment files
.env
client/.env
server/.env
server/.env.example

# Build files
dist
build

# VS Code
.vscode

# OS files
.DS_Store